@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --foreground: #171717;
  --font-sans: "Outfit", sans-serif;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
}

body {
  color: var(--foreground);
  font-family: var(--font-sans);
}
