@import "tailwindcss";

 
:root {
  --color-primary: #1959AC;
  --color-primary-dark: #0546D2;
  --color-text-primary: #222222;


  --font-heading: "Roboto Condensed", sans-serif;
  --font-body: "Inter", sans-serif;

  --font-size-heading: 42px;
  --font-size-subheading-lg: 24px;
  --font-size-subheading-sm: 20px;
}

 
@layer theme {
  @theme {
    --color-primary: var(--color-primary);
    --color-primary-dark: var(--color-primary-dark);
    --color-text-primary: var(--color-text-primary);
  }
}
 
@layer components {
  .btn-primary {
    @apply bg-primary hover:bg-primary-dark
    text-white font-semibold px-6 py-3 rounded-lg transition-colors duration-200;
  }

  .btn-secondary {
    @apply bg-transparent border-2 border-primary
    text-primary hover:bg-primary
    hover:text-white font-semibold px-6 py-3 rounded-lg transition-all duration-200;
  }

  .link-primary {
    @apply text-primary hover:text-primary-dark
    underline transition-colors duration-200;
  }

  .heading {
    font-family: var(--font-heading);
    font-size: var(--font-size-heading);
    letter-spacing: -0.02em;
    line-height: 1.2;
    font-weight: 700;
    color: var(--color-text-primary);
  }
  .heading-sm {
    font-family: var(--font-heading);
    font-size: var(--font-size-subheading-lg);
    letter-spacing: -0.02em;
    line-height: 1.2;
    font-weight: 700;
    color: var(--color-text-primary);
  }

  .subheading-lg {
    font-family: var(--font-body);
    font-size: var(--font-size-subheading-lg);
    letter-spacing: -0.02em;
    line-height: 1.4;
    font-weight: 600;
    color: var(--color-text-primary);
  }

  .subheading-sm {
    font-family: var(--font-body);
    font-size: var(--font-size-subheading-sm);
    letter-spacing: -0.02em;
    line-height: 1.4;
    font-weight: 600;
    color: var(--color-text-primary);
  }
}
